/* Continuous Project Connection Line */
.project-connection-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}

.continuous-line-svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.continuous-animated-path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: drawContinuousLine 5s ease-in-out forwards;
    animation-delay: 1s;
}

@keyframes drawContinuousLine {
    to {
        stroke-dashoffset: 0;
    }
}

.projects {
    position: relative;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .continuous-line-svg {
        display: none;
    }
}